# Editors
.idea/

# CMake / Build
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake
*.ninja
compile_commands.json
build/
target/
conan_provider.cmake
docs/

# Binaries
*.exe
*.o
*.obj
